<!--Модальный компонент для Удаления Карт-->
                                        
<div class="modal" id="delete_card{{ card.id }}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Владелец карты: {{ card.first_name }} {{ card.last_name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Ты уверен что хочешь удалить эту Карту?</p>
        </div>
        <div class="modal-footer">
          <form action="{% url 'cards:delete_card' card.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Удалить">
          </form>                                                  
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Выйти</button>
        </div>
      </div>
    </div>
  </div>
