<!DOCTYPE html> 
<html lang="ru">          
  <head> 
    {% include 'includes/head.html' %} 
    <title>{% block title %}Контент{% endblock title %}</title>      
  </head>
  <body>       
    <header>
    {% include 'includes/header.html' %} 
    </header>
    <main>
      <div class="container py-5">
        {% block content %}
          Контент не подвезли :(
        {% endblock %} 
      </div>
    </main>
    <footer>
      {% include 'includes/footer.html' %} 
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
