{% extends 'base.html' %}
{% block title %}Cards Management System{% endblock %}
{% block content %}
<div class="d-flex flex-columm min-vh-100">
    <div class="container-fluid">
        <h3 class="m-4">Все Карты</h3>
        <div class="row">
            <div class="col-12">
                {% if cards %}
                <div class="card bg-light ms-4 me-4 mb-4">
                    <div class="card-header"><i class="fa-solid fa-list fa-lg"></i> Header</div>
                    <div class="card-body">                        
                        <p class="card-text"></p>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">Серия карты</th>
                                    <th scope="col">Номер карты</th>
                                    <th scope="col">Сумма</th>
                                    <th scope="col">Дата: с</th>
                                    <th scope="col">Дата: до</th>
                                    <th scope="col">Статус</th>
                                    <th scope="col">Действия</th>
                                  </tr>
                                </thead>
                                <tbody>                                  
                                  {% for card in cards %}
                                    <tr>
                                        <td>{{ card.first_name }}</td>
                                        <td>{{ card.last_name }}</td>
                                        <td>{{ card.card_series }}</td>
                                        <td>{{ card.number_card }}</td>
                                        <td>{{ card.amount }}</td>
                                        <td>{{ card.data_created }}</td>
                                        <td>{{ card.data_end }}</td>
                                        <td>{{ card.status }}</td>
                                        <td>
                                        <button type="button" class="btn btn-success me-1" href="{% url 'view_info' card.id %}" data-bs-toggle="modal" 
                                            data-bs-target="#myModal{{ card.id }}"><i class="fa-solid fa-circle-info"></i>
                                        </button>
                                       

                                        <!--Модальный компонент для Информации Карт-->

                                        <div class="modal" id="myModal{{ card.id }}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title">Владелец карты: {{ card.first_name }} {{ card.last_name }}</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <ul class="list-unstyled">
                                                    <li><strong>{{ card.first_name }} {{ card.last_name }}</strong></li>
                                                    <li>Серия карты: <strong>{{ card.card_series }}</strong></li>
                                                    <li>Номер карты: <strong>{{ card.number_card }}</strong></li>
                                                    <li>Сумма: <strong>{{ card.amount }}</strong></li>
                                                    <li>Дата регистрации: <strong>{{ card.data_created }}</strong></li>
                                                    <li>Дата окончания: <strong>{{ card.data_end }}</strong></li>
                                                    <li>Статус: <strong>{{ card.status }}</strong></li>                                                    
                                                  </ul>
                                                </div>
                                                <div class="modal-footer">                                                  
                                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Выйти</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <a class="btn btn-warning me-1" href="{% url 'edit_card' card.id %}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                          </a>

                                          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_card{{card.id}}">
                                            <i class="fa-solid fa-trash-can"></i>
                                          </button>

                                        <!--Модальный компонент для Удаления Карт-->
                                        
                                        <div class="modal" id="delete_card{{ card.id }}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title">Владелец карты: {{ card.first_name }} {{ card.last_name }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true"></span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                <p>Ты уверен что хочешь удалить эту Карту?</p>
                                              </div>
                                              <div class="modal-footer">
                                                <form action="{% url 'delete_card' card.id %}" method="POST">
                                                  {% csrf_token %}
                                                  <input type="submit" class="btn btn-primary" value="Удалить">
                                                </form>                                                  
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Выйти</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        </td>
                                    </tr>                                  
                                  {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
                {% else %}
                <h5 class="alert alert-primary ms-4 me-4">В Базе Данных нет Карт</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}